## Import libraries and the dataset

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import string
import plotly.plotly as py
import plotly.graph_objs as go

%matplotlib inline 

# Import the csv files and seperate at , 
responses = "project/responses.csv"
responsesDf = pd.read_csv(responses, sep=',')

columns = "project/columns.csv"
columnsDf = pd.read_csv(columns, sep=',')

In [2]:
## The head function gives a quick overview of the data
responsesDf.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

## Count the number of responses
First step in exploring the dataset is finding out the number of respondents to the questionnaire. 
<br>Therefore I just simply output the age column. It will not only give me information about length, it also shows which datatype is used. As you can see below the number of respondents is 1010. The datatype is a float.

In [3]:
ageColumn = responsesDf['Age']

ageList = list(ageColumn)
length = len(ageList)
print("Length of the list is:", length)
ageColumn

Length of the list is: 1010

0       20.0
1       19.0
2       20.0
3       22.0
4       20.0
5       20.0
6       20.0
7       19.0
8       18.0
9       19.0
10      19.0
11      17.0
12      24.0
13      19.0
14      22.0
15      18.0
16      19.0
17      20.0
18      18.0
19      18.0
20      20.0
21      24.0
22      22.0
23      20.0
24      19.0
25      20.0
26      22.0
27      19.0
28      20.0
29      19.0
        ...
980     18.0
981     19.0
982     18.0
983     22.0
984     21.0
985     20.0
986     19.0
987     20.0
988     19.0
989     30.0
990     29.0
991     21.0
992     30.0
993     21.0
994     20.0
995     18.0
996     20.0
997     19.0
998     28.0
999     19.0
1000    16.0
1001    18.0
1002    22.0
1003    20.0
1004    22.0
1005    20.0
1006    27.0
1007    18.0
1008    25.0
1009    21.0
Name: Age, Length: 1010, dtype: float64

## Calculate the average age of the respondents
In order to find the average age of the respondents, I will first need to find the min age. 
<br>Of course I should then find the max age.

In [6]:
## Convert 
convertedAgeList = [[int(num) for num in sub] for sub in ageList]

## I will also need the 

## Calculate the mean of the response
listLength = len(ageList)
listSum = sum(ageList)
average = listSum/listLength
average

TypeError: 'numpy.float64' object is not iterable

In [ ]:
N = 100
y_vals = {}
for letter in list(string.ascii_uppercase):
     y_vals[letter] = np.random.randn(N)+(3*np.random.randn())
        
df = pd.DataFrame(y_vals)
df.head()

data = []

for col in df.columns:
    data.append(  go.Box( y=df[col], name=col, showlegend=False ) )

data.append( go.Scatter( x = df.columns, y = df.mean(), mode='lines', name='mean' ) )

# IPython notebook
# py.iplot(data, filename='pandas-box-plot')

url = py.plot(data, filename='pandas-box-plot')